*.log
.cache
*.tgz
*.tar.gz
*.tar
bin
pkg/bin
pkg/slurm/sim/slurm-sim
.venv
_build
build*
helm-charts/config.json
sw/nic/build/
build
dev.env
rocprofilerclient/build/
build/
amdgpu-exporter-*/
temp_auto_push.bat
RPMS/*
SRPMS/*
BUILD/*
SOURCES/*
SPECS/*
BUILDROOT/*
.cline_storage
asset-build/*
.job.yml
box.rb
entrypoint.sh
branch_policy.yml
tools-internal/*
test/pytests/*
test/pytest/*
CLAUDE.md
.claude/*
.copilot/*
.gitignore
branch_structure.json
