.venv
build

# documentation artifacts
_build/
_images/
_static/
temp_auto_push.bat
_templates/
_toc.yml
docBin/
_doxygen/
_readthedocs/

# avoid duplicating contributing.md due to conf.py
docs/CHANGELOG.md.gitignore
branch_structure.json
